* {
  scroll-behavior: smooth;
  font-family: 'Unbounded', sans-serif;
}
body {
  box-sizing: border-box;
  background-color: rgb(210, 187, 144);
  color: white;
  font-family: 'Unbounded', sans-serif;
}
.intro {
  opacity: 1;
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  background-color: rgb(210, 187, 144);
  transition: all ease-in 2s;
}
.intro.show {
  opacity: 0;
}
.introLogo {
  width: 200px;
  height: 150px;
  transform: translateY(20px);
  transition: all ease 1000ms;
}
.introLogo.show {
  transform: translateY(0);
}
#map {
  opacity: 0;
  position: absolute;
  bottom: 70px;
}
nav {
  font-size: 1rem;
  width: 1920px;
  max-width: 100%;
  min-width: 80%;
  position: fixed;
  background-color: rgb(210, 187, 144);
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  gap: 30px;
  display: flex;
  top: -80px;
  z-index: 2;
  transition: top ease 1s;
}
nav.show {
  top: 0;
}
a {
  color: inherit;
  text-decoration: none;
  transition: ease 500ms;
}
button {
  transition: ease 500ms;
}
a:hover {
  color: black;
  transform: translateY(-13%);
}
button:hover {
  color: black;
  transform: translateY(-20%);
}
.logo {
  max-width: 110px;
  padding-top: 10px;
}
main {
  width: 100%;
  margin: 0 auto;
}

.main {
  margin: 0 auto;
  padding: 20px 50px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slider {
  margin: 0 auto;
  overflow: hidden;
  opacity: 0;
  max-width: 1100px;
  max-height: 550px;
  top: 0;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  transition: opacity 3.3s ease, top 2.3s ease;
}

.textSlide {
  height: 500px;
  max-height: 700px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  position: relative;
  display: flex;
  z-index: 1;
  flex-direction: column;
}
.title {
  font-size: 4.2rem;
}
.titleParag {
  padding-top: 20px;
  font-size: 1.6rem;
}
.slider.show {
  opacity: 1;
  top: 80px;
}
.slider img {
  position: absolute;
  transition: opacity 0.5s ease;
}
.slider img:first-child {
  display: block;
}
.slider::after {
  content: ' ';
  overflow: hidden;
  position: absolute;
  background-color: black;
  max-width: 1100px;
  max-height: 550px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0.5;
}
.whereAmI {
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 200px 0 0;
}

.mapsInfo {
  width: 1000px;
  max-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 250px auto;
}

.about {
  font-size: 2rem;
  padding-bottom: 20px;
}
.map {
  max-width: 600px;
  width: 100%;
  height: 450px;
  display: block;
  margin: 0 auto;
}
.geolocation {
  max-width: 600px;
  width: 100%;
  max-height: 450px;
}
.contactsWindow {
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  padding: 0;
  opacity: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.434);
  transition: opacity ease 2s;
}

.contactsWindow.show {
  display: flex;
  opacity: 1;
}

.moduleWindow {
  background-color: rgb(210, 187, 144);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  opacity: 1;
  border-radius: 20px;
  max-height: 500px;
  height: 100%;
  max-width: 800px;
  width: 100%;
  transition: opacity ease 2s;
}

.moduleWindow.show {
  opacity: 0;
}

footer {
  padding-top: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(225, 190, 137);
  gap: 400px;
  width: 100%;
  height: 100px;
  color: black;
}
.time,
.telNumber {
  font-size: 0.75rem;
}
.timeInfo {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contacts {
  margin-top: 10px;
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.contactBtn {
  background-color: rgb(210, 187, 144);
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1rem;
}
